body {
    height: 100vh;
    background-color: #393E46;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

#container {
    padding: 5px;
    width: 512px;
    height: 512px;
    background-color: rgb(38, 38, 38);
    display: inline-grid;
    border-collapse: collapse;
}

.wrapper {
    display: flex;
}
.element {
    border: 1px solid rgba(92, 89, 89, 0.4);
    background-color: #fff;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}


.button {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.activeButton {
    border-color: aquamarine;
    transition: 0.1s;
}

#colorPicker{
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
}

.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
}

.slider {
    -webkit-appearance: none;
    background-color: transparent;
    width: 130px;
}

.slider:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid #393E46;
    background-color: #fff;
    cursor: pointer;
    margin-top: -4px;
  }

input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 25px;
}

.slider::-moz-range-thumb {
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 2px solid #393E46;
    background-color: #fff;
    cursor: pointer;
}

.slider::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #fff;
    border-radius: 25px;
    border: 0px solid #000101;
}

.slideContainer {
    text-align: center;
}

.gridSize {
    color: white;
    margin: 0;
}

.cross {
    font-size: 10px;
}

#rainbow {
    background: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}