

body {
    height: 100vh;
    background-color: #393E46;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    padding: 5px;
    width: 512px;
    height: 512px;
    background-color: rgb(38, 38, 38);
    display: inline-grid;
    border-collapse: collapse;
}

.wrapper {
    display: flex;
}
.element {
    border: 1px solid rgba(92, 89, 89, 0.4);
    background-color: #fff;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
}


.button {
    width: 30px;
    height: 30px;
    border: 3px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.activeButton {
    border-color: aquamarine;
    transition: 0.1s;
}

#colorPicker{
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
}

.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
  }